
/* Put your custom styles here */

p {
  font-size: 22px;
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Whitney;
}


.idyll-root {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  max-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: Whitney;
}
.article-header {
  margin: 0 auto;
  margin-top: 25vh;
  margin-bottom: 25vh;
  font-family: Whitney;
  font-weight: 700;
  color: black;
  /* text-shadow: 3px 3px 3px #000000; */
}

.article-header h1 {
  font-size: 50px;
}
.article-header a {
  color: black;
  border-bottom: solid 2px #5EA5DB;
  transition: color 0.25s;
  text-decoration: none;
}
.article-header a:hover {
  color: #5EA5DB;
}

.section {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.alt {
  background: #f3f1f2;
}

figure {
  margin-top: 0;
}

.section.short {
  padding-top: 0 !important;
}
.section.short-bottom {
  padding-bottom: 0 !important;
}

.section > div {
  min-width: 300px;
  max-width: 500px;
}
.section img {
  /* height: auto; */
}

.section p {
  font-size: 22px;
  width: 600px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family: Whitney;
}


figure {
  font-family: Whitney;
}

figure > div {
  overflow-y: hidden;
}

h1 {
  border-bottom: none;
}



button {
  display: block;
  margin: 0 auto;
  border: 0;
  box-shadow:none;
  border-radius: 0px;
  padding: 10px 15px;
  cursor: pointer;
  background: #151E3F;
  color: white;
}

button:focus {
  outline: none
}

.waypoint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;

}

.waypoint .screen-content {
  font-size: 22px;
  max-width: 500px;
  padding: 30px;
  box-shadow: 5px 7px 0 rgba(0, 0, 0, 0.3);
}

.waypoint .screen-content p {
  width: auto;
}

.district {
  text-align: center;
}

.district-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.district-viz {
  position: absolute;
  width: 100%;
}

.district-viz svg {
  overflow: visible;
}

.action {
  text-decoration: underline;
  cursor: pointer;
}

.screen-content {
  background: white;
  box-sizing: border-box;
}

text {
  font-family: WhitneyNarrow;
  font-size: 14px;
}

.district-viz text {
  /* font-size: 48px; */
}


.grid line {
  shape-rendering: crispEdges;
}

.grid.x line {
  stroke: #b3b3b3;
}
.grid.y line {
  stroke: #d9d9d9;
}

.axis text {
  fill: #999999;
}

.axis .tick line {
  display: none;
}
.axix.x path {
  stroke: #4d4d4d;
}
.axis.y path {
  display: none;
}

.grid path {
  stroke-width: 0;
}

.story-container {
  margin-top: 60px;
}

.centered {
  margin: 0 auto;
}

.control {
  cursor: pointer;
}

.slideshow .slide p {
  width: auto;
}

.slideshow .slide {
  /* height: 400px; */
}

.district-viz svg .axis text {
  font-size: 22px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.section {
  /* flex-direction: row; */
}

.story-teaser {
  width: 25%;
}

.control {
  cursor: pointer;
}

.audio-holder {
  max-width: 33%;
}
.audio-holder > div {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 800px) {
  .district-viz {
    width: 75%;
    left: 12.5%;
  }

  p, .section p {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .column {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }
  .section {
    flex-direction: column;
  }

  .story-teaser {
    width: 75%;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-left: 10px;
  }

  .waypoint .screen-content {
    max-width: 90%;
  }

  .slideshow .slide p {
    font-size: 14px;
  }

  .district-container {
    height: 50vh;
  }
  figure .waypoint {
    height: 200vh;
  }

  .axis text {
    font-size: 12px;
  }
  .district-viz svg {
    margin-top: -30px;
  }

  .section > div {
    max-width: 95%;
  }
}